server:
  port: 8072
 
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eurekaserver:8070/eureka/

# spring.cloud.gateway.server.webflux.discovery.locator.enabled
# spring.cloud.gateway.server.webflux.discovery.locator.lower-case-service-id

spring:
  cloud:
    loadbalancer.ribbon.enabled: false
    gateway.server.webflux.discovery.locator:
      enabled: true
      lower-case-service-id: true
    # gateway:
    #   routes:
    #   - id: assignment-service
    #     uri: lb://assignment-service
    #     predicates:
    #     - Path=/assignment/**
    #     filters:
    #     - RewritePath=/assignment/(?<path>.*), /$\{path}
    #     - RemoveRequestHeader= Cookie,Set-Cookie
    #   - id: client-service
    #     uri: lb://client-service
    #     predicates:
    #     - Path=/client/**
    #     filters:
    #     - RewritePath=/client/(?<path>.*), /$\{path}
    #     - RemoveRequestHeader= Cookie,Set-Cookie
    #   - id: work-service
    #     uri: lb://work-service
    #     predicates:
    #     - Path=/work/**
    #     filters:
    #     - RewritePath=/work/(?<path>.*), /$\{path}
    #     - RemoveRequestHeader= Cookie,Set-Cookie

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

# logging:
#   pattern:
#     level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"
#   include-application-name: false

logging:
  pattern:
    level: "%5p [${spring.application.name:},traceId=%X{traceId:-},spanId=%X{spanId:-}]"

keycloak:
    auth-server-url: http://localhost:8080/auth
    bearer-only: true
    credentials:
        secret: Vvwte4acDtYxkxp2gAKjr9zfD7maaXsj
    realm: molding
    resource: molding
    ssl-required: external
    use-resource-role-mappings: true    
    
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
